<div
  class="bg-white p-6 rounded-lg shadow-xl grid grid-cols-1 lg:grid-cols-2 gap-6"
>
  <!-- Profile Section (at the top) -->
  <div
    class="flex items-center space-x-6 bg-gray-50 p-5 rounded-md shadow-md col-span-1 lg:col-span-2"
  >
    <img
      class="w-20 h-20 rounded-full object-cover"
      [src]="userDetails.userImageUrl"
      alt="User Image"
    />
    <div class="truncate">
      <h3 class="text-3xl font-semibold text-black truncate">
        {{ userDetails.userName }}
      </h3>
      <p class="text-base text-black truncate">{{ userDetails.userEmail }}</p>
    </div>
  </div>

  <!-- Event Participation Summary -->
  <div class="bg-white p-5 rounded-md shadow-md border border-gray-200">
    <h4 class="text-xl font-semibold text-black">
      Event Participation Summary
    </h4>
    <div class="space-y-2 text-base text-black">
      <p>
        <strong>Registered Events:</strong>
        {{ userEventSummary.registeredEvents }}
      </p>
      <p>
        <strong>Upcoming Events:</strong> {{ userEventSummary.upcomingEvents }}
      </p>
      <p>
        <strong>Events Attended:</strong> {{ userEventSummary.eventsAttended }}
      </p>
    </div>
  </div>

  <!-- Notifications -->
  <!-- <div class="bg-white p-5 rounded-md shadow-md border border-gray-200">
    <h4 class="text-xl font-semibold text-black">Notifications</h4>
    <ul class="space-y-2 text-base text-black">
      <li *ngFor="let notification of userNotifications" class="py-1">
        {{ notification }}
      </li>
    </ul>
  </div> -->

  <!-- User Stats -->
  <div class="bg-white p-5 rounded-md shadow-md border border-gray-200">
    <h4 class="text-xl font-semibold text-black">User Stats</h4>
    <div class="space-y-2 text-base text-black">
      <p>
        <strong>Total Events Registered:</strong>
        {{ userStats.totalEventsRegistered }}
      </p>
      <p><strong>Feedback Given:</strong> {{ userStats.feedbackGiven }}</p>
    </div>
  </div>
</div>
