<div class="container mx-auto p-6 space-y-8">
  <!-- Header Section: Event and Feedback Details -->
  <div class="bg-blue-50 shadow-xl rounded-lg p-8">
    <h1 class="text-3xl font-semibold text-blue-700 mb-4">Event Feedback</h1>
    <div class="text-gray-700 space-y-2">
      <p>
        <strong class="font-medium">Event Title:</strong>
        {{ feedbackDetails.eventName }}
      </p>
      <p>
        <strong class="font-medium">Feedback ID:</strong>
        {{ feedbackDetails.feedBackId }}
      </p>
      <p>
        <strong class="font-medium">Submission Date:</strong>
        {{ feedbackDetails.submissionDate }}
      </p>
    </div>
  </div>

  <!-- User Details Section -->
  <div class="bg-white shadow-lg rounded-lg p-8">
    <h3 class="text-2xl font-semibold text-gray-800 mb-6">User Details</h3>
    <div class="text-gray-700 space-y-3">
      <p>
        <strong class="font-medium">User Name:</strong>
        {{ feedbackDetails.userName }}
      </p>
      <p>
        <strong class="font-medium">Overall Rating:</strong>
        <!-- Displaying Stars as emojis for rating -->
        <span class="text-yellow-500">
          <ng-container
            *ngFor="
              let star of [].constructor(feedbackDetails.rating);
              let i = index
            "
          >
            ⭐
          </ng-container>
        </span>
      </p>

      <p>
        <strong class="font-medium">Speaker Rating:</strong>
        <!-- Displaying Stars as emojis for rating -->
        <span class="text-yellow-500">
          <ng-container
            *ngFor="
              let star of [].constructor(feedbackDetails.speakerRating);
              let i = index
            "
          >
            ⭐
          </ng-container>
        </span>
      </p>

      <p>
        <strong class="font-medium">Venue Rating:</strong>
        <!-- Displaying Stars as emojis for rating -->
        <span class="text-yellow-500">
          <ng-container
            *ngFor="
              let star of [].constructor(feedbackDetails.venueRating);
              let i = index
            "
          >
            ⭐
          </ng-container>
        </span>
      </p>
    </div>
  </div>

  <!-- Feedback Details Section -->
  <div class="bg-white shadow-lg rounded-lg p-8">
    <h3 class="text-2xl font-semibold text-gray-800 mb-6">Feedback Details</h3>
    <div class="text-gray-700">
      <p class="text-lg">{{ feedbackDetails.comments }}</p>
    </div>
  </div>
  <div class="bg-white shadow-lg rounded-lg p-8">
    <h3 class="text-2xl font-semibold text-gray-800 mb-6">
      Feedback Suggestions
    </h3>
    <div class="text-gray-700">
      <p class="text-lg">{{ feedbackDetails.suggestions }}</p>
    </div>
  </div>
</div>
